.inputField {
  display: flex;
  flex-direction: row;
  align-items: center;

  label {
    font-size: 20px;
    font-weight: bold;
    color: rgb(112, 111, 111);
  }

  input {
    font-size: 17px;
    font-weight: bold;
    color: gray;
    text-align: right;
    width: 75px;
    height: 30px;
    margin-left: 10px;
    padding: 0 5px;
    border: 1px solid rgb(211, 206, 206);
    border-radius: 4px;
  }
}